<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ch7x.mapper.CommodityMapper">

    <select id="findPage" resultType="com.ch7x.dto.CommodityDto">
        SELECT
        *
        FROM
        commodity inner join warehouse
        on
        commodity.c_no=warehouse.c_no
        ${ew.customSqlSegment}

        <!--<where>-->
        <!--${ew.SqlSegment} -->
        <!--</where>-->
    </select>

</mapper>